.calculator {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);

  select {
    margin: 0 0.5rem;
  }

  .dropdowns {
    :global .row:not(:last-child) {
      margin-bottom: 1rem;
    }

    :global .border-bottom {
      padding-bottom: 1rem;
    }

    .character-stats {
      > div:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
