.calculator {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);

  > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}

.dropdowns {
  display: flex;
  flex-flow: row nowrap;

  select {
    margin: 0 0.5rem;
  }
}
