.c-button {
  border: 1px solid var(--btn-border);
  border-radius: 0.5rem;
  background-color: transparent !important;
  padding: 0.5rem;

  &:hover {
    border-color: var(--btn-border-highlight);
  }
}
